.businies-info {
    display: flex;
    width: 90%;
    margin: 30px auto;
    align-items: center;
}

.title-busns {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    width: 400px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.detall {
    width: 90px;
    margin-top: 10px;
}

.infooo {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: #D7D7D7;
}